
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.example
# Docker
docker-compose.override.yml

backend/app.db
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# SonarQube
.scannerwork/
target/

# Data volumes (local persistence)
postgres_data/
prometheus_data/
grafana_data/
redis_data/
jenkins_data/
sonarqube_data/
sonarqube_extensions/
sonarqube_logs/
